<template>
  <div class="home">

      В разработке

  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',

  data: () => ({

  }),

  created () {
     // this.getUsers()
  },

  methods : {

  },

  components: {
      HelloWorld
  },

}
</script>
